.App {
  text-align: center;
}

.App-header {background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1 { 
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 50px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
}


h3 { 
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 25px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 72px; 
  text-align: center; 
}

.yes { 
  background: #ffc0cb; 
  color: #ffffff; display: 
  inline-block; font-family: 'Lato', sans-serif; 
  font-size: 18px; 
  font-weight: bold; 
  border-radius: 8px;
  line-height: 12px; 
  letter-spacing: 1.5px; 
  padding: 10px 15px 8px; 
  text-transform: uppercase; 
  width: 200px;
  height: 50px;  
  margin-top: -30px; 
}